<section id="about">
    <p class="section__text__p1">Get To Know More</p>
    <h1 class="title">About Me</h1>
    <div class="section-container">
      <div class="section__pic-container">
        <img
          src="assets/rahul2.jpg"
          alt="Profile picture"
          class="about-pic"
        />
      </div>
      <div class="about-details-container">
        <div class="about-containers">
          <div class="details-container">
            <img
              src="assets/experience.png"
              alt="Experience icon"
              class="icon"
            />
            <h3>Experience</h3>
            <p>{{experience}} <br />FullStack Development</p>
          </div>
          <div class="details-container">
            <img
              src="assets/education.png"
              alt="Education icon"
              class="icon"
            />
            <h3>Education</h3>
            <p>B.Tech Bachelors Degree<br />GATE 2022 Ranker</p>
          </div>
        </div>
        <div class="text-container">
          <p>
            I am Rahul Mishra, a dedicated Computer Science and Engineering professional with a Bachelor's degree from Rajiv Gandhi Proudyogiki Vishwavidyalaya, Bhopal where I achieved an impressive CGPA of 8.96/10. My academic excellence was further demonstrated by securing an outstanding score of 504/1000 in GATE 2022, earning me an All India Rank of 3006.
            
            Currently serving as a Project Engineer at the Centre for Development of Telematics, Delhi, I specialize in Quantum Key Distribution (QKD), Angular, Flask, and other frameworks. I play a crucial role in developing modules and applications essential for managing QKD networks. My responsibilities include creating resilient RESTful APIs, troubleshooting technical issues, and ensuring seamless operation of critical applications.
            
            My experience at the Centre for Development of Telematics has allowed me to leverage my skills in Angular, Flask, and other technologies to develop impactful solutions. I thrive in collaborative environments and am committed to delivering high-quality results that meet the needs of the project and organization.
            
            With a diverse skill set and a proven track record of academic and professional achievements, I am poised to make significant contributions to any technology-driven organization.
          </p>
        </div>
      </div>
    </div>
    <img
      src="assets/arrow.png"
      alt="Arrow icon"
      class="icon arrow"
      onclick="location.href='./#experience'"
    />
  </section>