<section id="experience">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">Experience</h1>
    <div class="experience-details-container">
      <div class="about-containers">
        <div class="details-container">
          <h2 class="experience-sub-title">Languages/CourseWork</h2>
          <div class="article-container">
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>C/C++</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>JavaScript</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>OOPS</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>DBMS</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Operating System</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Computer Networks</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>SQL</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>HTML and CSS</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Python</h3>
                <p>Experienced</p>
              </div>
            </article>
          </div>
        </div>
        <div class="details-container">
          <h2 class="experience-sub-title">Frameworks</h2>
          <div class="article-container">
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>React</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Node JS</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Express JS</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Angular</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>RxJs</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Flask</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Prime</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>MUI</h3>
                <p>Experienced</p>
              </div>
            </article>
          </div>
        </div>
        <div class="details-container">
          <h2 class="experience-sub-title">Developer Tools</h2>
          <div class="article-container">
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Git</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>VS Code</h3>
                <p>Experienced</p>
              </div>
            </article>
            <article>
              <img
                src="assets/checkmark.png"
                alt="Experience icon"
                class="icon"
              />
              <div>
                <h3>Mongo DB</h3>
                <p>Intermediate</p>
              </div>
            </article>
          
          </div>
        </div>
      </div>
    </div>
    <img
      src="assets/arrow.png"
      alt="Arrow icon"
      class="icon arrow"
      onclick="location.href='./#projects'"
    />
  </section>